{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

    <title>{% block title %}SSO{% endblock %}</title>
  </head>
  <body>
    {% block content %}

    {% endblock %}
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
  </body>
</html>